l10n_ar_pyafipws/pyafipws/cache/e3d8feaf23cb488d40b104b7e9df0991.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="service" targetNamespace="http://impl.service.wsmtxca.afip.gov.ar/service/" xmlns:tns="http://impl.service.wsmtxca.afip.gov.ar/service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://impl.service.wsmtxca.afip.gov.ar/service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

			<xsd:element name="dummyResponse" type="tns:DummyResponseType">
			</xsd:element>
			<xsd:complexType name="DummyResponseType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="appserver" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="1" name="authserver" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="1" name="dbserver" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="exceptionResponse" type="tns:ExceptionResponseType"/>
			<xsd:complexType name="ExceptionResponseType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="exception" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="autorizarComprobanteResponse" type="tns:AutorizarComprobanteResponseType">
			</xsd:element>
			<xsd:element name="autorizarComprobanteRequest" type="tns:AutorizarComprobanteRequestType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>

			<xsd:complexType name="AutorizarComprobanteRequestType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="authRequest" type="tns:AuthRequestType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="comprobanteCAERequest" type="tns:ComprobanteType">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="AuthRequestType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="token" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="1" name="sign" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="1" name="cuitRepresentada" type="xsd:long"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="solicitarCAEAResponse" type="tns:SolicitarCAEAResponseType">
			</xsd:element>

			<xsd:complexType name="ArrayComprobantesAsociadosType">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="1" name="comprobanteAsociado" type="tns:ComprobanteAsociadoType"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ComprobanteAsociadoType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="codigoTipoComprobante" type="xsd:short">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="numeroPuntoVenta" type="tns:NumeroPuntoVentaSimpleType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="numeroComprobante" type="tns:NumeroComprobanteSimpleType"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ArrayOtrosTributosType">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="1" name="otroTributo" type="tns:OtroTributoType"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="OtroTributoType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="codigo" type="xsd:short">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="descripcion" type="xsd:string">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="baseImponible" type="tns:ImporteTotalSimpleType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="importe" type="tns:ImporteTotalSimpleType"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ArrayItemsType">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="1" name="item" type="tns:ItemType"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ItemType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="unidadesMtx" type="xsd:int"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="codigoMtx" type="xsd:string">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="codigo" type="xsd:string">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="descripcion" type="xsd:string">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="cantidad" type="tns:DecimalSimpleType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="codigoUnidadMedida" type="xsd:short">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="precioUnitario" type="tns:DecimalSimpleType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="importeBonificacion" type="tns:DecimalSimpleType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="codigoCondicionIVA" type="xsd:short">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="importeIVA" type="tns:ImporteSubtotalSimpleType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="importeItem" type="tns:ImporteSubtotalSimpleType">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ArraySubtotalesIVAType">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="1" name="subtotalIVA" type="tns:SubtotalIVAType"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="SubtotalIVAType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="codigo" type="xsd:short">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="importe" type="tns:ImporteTotalSimpleType"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="AutorizarComprobanteResponseType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="resultado" type="tns:ResultadoSimpleType">
					</xsd:element>

					<xsd:element maxOccurs="1" minOccurs="0" name="comprobanteResponse" type="tns:ComprobanteCAEResponseType"/>

					<xsd:element maxOccurs="1" minOccurs="0" name="arrayObservaciones" type="tns:ArrayCodigosDescripcionesType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="arrayErrores" type="tns:ArrayCodigosDescripcionesType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="evento" type="tns:CodigoDescripcionType">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="CodigoDescripcionType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="codigo" type="xsd:short">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="descripcion" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ArrayObservacionesType">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="1" name="observacion" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="SolicitarCAEARequestType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="authRequest" type="tns:AuthRequestType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="solicitudCAEA" type="tns:SolicitudCAEAType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="solicitarCAEARequest" type="tns:SolicitarCAEARequestType">
			</xsd:element>

			<xsd:complexType name="SolicitarCAEAResponseType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="CAEAResponse" type="tns:CAEAResponseType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="arrayErrores" type="tns:ArrayCodigosDescripcionesType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="evento" type="tns:CodigoDescripcionType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="informarComprobanteCAEAResponse" type="tns:InformarComprobanteCAEAResponseType">
			</xsd:element>

			<xsd:element name="consultarUltimoComprobanteAutorizadoResponse" type="tns:ConsultarUltimoComprobanteAutorizadoResponseType">
			</xsd:element>
			<xsd:element name="informarComprobanteCAEARequest" type="tns:InformarComprobanteCAEARequestType">
			</xsd:element>
			<xsd:element name="consultarUltimoComprobanteAutorizadoRequest" type="tns:ConsultarUltimoComprobanteAutorizadoRequestType">
			</xsd:element>
			<xsd:complexType name="InformarComprobanteCAEARequestType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="authRequest" type="tns:AuthRequestType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="comprobanteCAEARequest" type="tns:ComprobanteType"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ConsultarUltimoComprobanteAutorizadoRequestType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="authRequest" type="tns:AuthRequestType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="consultaUltimoComprobanteAutorizadoRequest" type="tns:ConsultaUltimoComprobanteAutorizadoRequestType"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="consultarPuntosVentaCAEAResponse" type="tns:ConsultarPuntosVentaResponseType">
			</xsd:element>
			<xsd:element name="consultarPuntosVentaRequest" type="tns:ConsultarPuntosVentaRequestType">
			</xsd:element>
			<xsd:element name="consultarPuntosVentaCAEARequest" type="tns:ConsultarPuntosVentaCAEARequestType">
			</xsd:element>
			<xsd:complexType name="InformarComprobanteCAEAResponseType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="resultado" type="tns:ResultadoSimpleType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="fechaProceso" type="xsd:date">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="comprobanteCAEAResponse" type="tns:ComprobanteCAEAResponseType"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="arrayObservaciones" type="tns:ArrayCodigosDescripcionesType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="arrayErrores" type="tns:ArrayCodigosDescripcionesType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="evento" type="tns:CodigoDescripcionType">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="consultarTiposComprobanteResponse" type="tns:ConsultarTiposComprobanteResponseType">
			</xsd:element>

			<xsd:element name="consultarTiposComprobanteRequest" type="tns:ConsultarTiposComprobanteRequestType">
			</xsd:element>
			<xsd:complexType name="ConsultarTiposComprobanteRequestType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="authRequest" type="tns:AuthRequestType">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="consultarComprobanteResponse" type="tns:ConsultarComprobanteResponseType">
			</xsd:element>
			<xsd:element name="consultarComprobanteRequest" type="tns:ConsultarComprobanteRequestType">
			</xsd:element>

			<xsd:complexType name="ConsultarPuntosVentaCAEARequestType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="authRequest" type="tns:AuthRequestType"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ConsultarComprobanteRequestType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="authRequest" type="tns:AuthRequestType">
					</xsd:element>

					<xsd:element maxOccurs="1" minOccurs="1" name="consultaComprobanteRequest" type="tns:ConsultaComprobanteRequestType"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ConsultarPuntosVentaRequestType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="authRequest" type="tns:AuthRequestType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="consultarTiposDocumentoRequest" type="tns:ConsultarTiposDocumentoRequestType">
			</xsd:element>
			<xsd:element name="consultarTiposDocumentoResponse" type="tns:ConsultarTiposDocumentoResponseType">
			</xsd:element>
			<xsd:element name="consultarAlicuotasIVARequest" type="tns:ConsultarAlicuotasIVARequestType">
			</xsd:element>
			<xsd:element name="consultarAlicuotasIVAResponse" type="tns:ConsultarAlicuotasIVAResponseType">
			</xsd:element>

			<xsd:element name="consultarCondicionesIVARequest" type="tns:ConsultarCondicionesIVARequestType">
			</xsd:element>
			<xsd:element name="consultarCondicionesIVAResponse" type="tns:ConsultarCondicionesIVAResponseType">
			</xsd:element>

			<xsd:element name="consultarMonedasRequest" type="tns:ConsultarMonedasRequestType">
			</xsd:element>
			<xsd:element name="consultarMonedasResponse" type="tns:ConsultarMonedasResponseType">
			</xsd:element>
			<xsd:element name="consultarCotizacionMonedaRequest" type="tns:ConsultarCotizacionMonedaRequestType">
			</xsd:element>
			<xsd:element name="consultarCotizacionMonedaResponse" type="tns:ConsultarCotizacionMonedaResponseType">
			</xsd:element>
			<xsd:element name="consultarUnidadesMedidaRequest" type="tns:ConsultarUnidadesMedidaRequestType">
			</xsd:element>
			<xsd:element name="consultarUnidadesMedidaResponse" type="tns:ConsultarUnidadesMedidaResponseType">
			</xsd:element>
			<xsd:complexType name="ConsultarAlicuotasIVARequestType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="authRequest" type="tns:AuthRequestType"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ConsultarCondicionesIVARequestType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="authRequest" type="tns:AuthRequestType"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ConsultarCotizacionMonedaRequestType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="authRequest" type="tns:AuthRequestType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="codigoMoneda" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ConsultarMonedasRequestType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="authRequest" type="tns:AuthRequestType"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ConsultarTiposDocumentoRequestType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="authRequest" type="tns:AuthRequestType"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ConsultarUnidadesMedidaRequestType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="authRequest" type="tns:AuthRequestType"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="consultarPuntosVentaResponse" type="tns:ConsultarPuntosVentaResponseType">
			</xsd:element>

			<xsd:element name="consultarPuntosVentaCAERequest" type="tns:ConsultarPuntosVentaCAERequestType">
			</xsd:element>
			<xsd:element name="consultarPuntosVentaCAEResponse" type="tns:ConsultarPuntosVentaResponseType">
			</xsd:element>
			<xsd:complexType name="SolicitudCAEAType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="periodo" type="xsd:int">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="orden" type="xsd:short"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="CAEAResponseType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="fechaProceso" type="xsd:date">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="CAEA" type="xsd:long">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="periodo" type="xsd:int"/>
					<xsd:element maxOccurs="1" minOccurs="1" name="orden" type="xsd:short"/>
					<xsd:element maxOccurs="1" minOccurs="1" name="fechaDesde" type="xsd:date">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="fechaHasta" type="xsd:date">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="fechaTopeInforme" type="xsd:date">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ComprobanteCAEResponseType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="cuit" type="xsd:long">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="codigoTipoComprobante" type="xsd:short">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="numeroPuntoVenta" type="tns:NumeroPuntoVentaSimpleType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="numeroComprobante" type="tns:NumeroComprobanteSimpleType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="fechaEmision" type="xsd:date">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="CAE" type="xsd:long">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="fechaVencimientoCAE" type="xsd:date">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ComprobanteCAEAResponseType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="CAEA" type="xsd:long"/>
					<xsd:element maxOccurs="1" minOccurs="1" name="codigoTipoComprobante" type="xsd:short">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="numeroPuntoVenta" type="tns:NumeroPuntoVentaSimpleType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="numeroComprobante" type="tns:NumeroComprobanteSimpleType">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ConsultaUltimoComprobanteAutorizadoRequestType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="codigoTipoComprobante" type="xsd:short"/>
					<xsd:element maxOccurs="1" minOccurs="1" name="numeroPuntoVenta" type="tns:NumeroPuntoVentaSimpleType">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ConsultarUltimoComprobanteAutorizadoResponseType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="numeroComprobante" type="tns:NumeroComprobanteSimpleType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="arrayErrores" type="tns:ArrayCodigosDescripcionesType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="evento" type="tns:CodigoDescripcionType"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ConsultaComprobanteRequestType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="codigoTipoComprobante" type="xsd:short"/>
					<xsd:element maxOccurs="1" minOccurs="1" name="numeroPuntoVenta" type="tns:NumeroPuntoVentaSimpleType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="numeroComprobante" type="tns:NumeroComprobanteSimpleType">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ConsultarTiposComprobanteResponseType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="arrayTiposComprobante" type="tns:ArrayCodigosDescripcionesType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="evento" type="tns:CodigoDescripcionType"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ArrayTiposComprobanteType">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="1" name="codigoDescripcion" type="tns:CodigoDescripcionType"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ConsultarTiposDocumentoResponseType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="arrayTiposDocumento" type="tns:ArrayCodigosDescripcionesType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="evento" type="tns:CodigoDescripcionType"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ArrayTiposDocumentoType">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="1" name="codigoDescripcion" type="tns:CodigoDescripcionType"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ConsultarAlicuotasIVAResponseType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="arrayAlicuotasIVA" type="tns:ArrayCodigosDescripcionesType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="evento" type="tns:CodigoDescripcionType"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ConsultarCondicionesIVAResponseType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="arrayCondicionesIVA" type="tns:ArrayCodigosDescripcionesType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="evento" type="tns:CodigoDescripcionType"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ConsultarUnidadesMedidaResponseType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="arrayUnidadesMedida" type="tns:ArrayCodigosDescripcionesType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="evento" type="tns:CodigoDescripcionType"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ConsultarMonedasResponseType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="arrayMonedas" type="tns:ArrayCodigosDescripcionesStringType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="evento" type="tns:CodigoDescripcionType"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ArrayCodigosDescripcionesStringType">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="1" name="codigoDescripcion" type="tns:CodigoDescripcionStringType"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="CodigoDescripcionStringType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="codigo" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="1" name="descripcion" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ConsultarComprobanteResponseType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="comprobante" type="tns:ComprobanteType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="arrayObservaciones" type="tns:ArrayCodigosDescripcionesType"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="arrayErrores" type="tns:ArrayCodigosDescripcionesType"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="evento" type="tns:CodigoDescripcionType"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ComprobanteType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="codigoTipoComprobante" type="xsd:short">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="numeroPuntoVenta" type="tns:NumeroPuntoVentaSimpleType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="numeroComprobante" type="tns:NumeroComprobanteSimpleType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="fechaEmision" type="xsd:date">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="codigoTipoAutorizacion" type="tns:CodigoTipoAutorizacionSimpleType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="codigoAutorizacion" type="xsd:long">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="fechaVencimiento" type="xsd:date">
					</xsd:element>

					<xsd:element maxOccurs="1" minOccurs="0" name="codigoTipoDocumento" type="xsd:short">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="numeroDocumento" type="xsd:long">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="importeGravado" type="tns:ImporteTotalSimpleType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="importeNoGravado" type="tns:ImporteTotalSimpleType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="importeExento" type="tns:ImporteTotalSimpleType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="importeSubtotal" type="tns:ImporteTotalSimpleType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="importeOtrosTributos" type="tns:ImporteTotalSimpleType"/>
					<xsd:element maxOccurs="1" minOccurs="1" name="importeTotal" type="tns:ImporteTotalSimpleType">
					</xsd:element>

					<xsd:element maxOccurs="1" minOccurs="1" name="codigoMoneda" type="xsd:string">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="cotizacionMoneda" type="xsd:decimal">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="observaciones" type="xsd:string">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="codigoConcepto" type="xsd:short">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="fechaServicioDesde" type="xsd:date">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="fechaServicioHasta" type="xsd:date">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="fechaVencimientoPago" type="xsd:date">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="arrayComprobantesAsociados" type="tns:ArrayComprobantesAsociadosType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="arrayOtrosTributos" type="tns:ArrayOtrosTributosType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="arrayItems" type="tns:ArrayItemsType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="arraySubtotalesIVA" type="tns:ArraySubtotalesIVAType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="arrayDatosAdicionales" type="tns:ArrayDatosAdicionalesType">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ConsultarPuntosVentaResponseType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="arrayPuntosVenta" type="tns:ArrayPuntosVentaType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="evento" type="tns:CodigoDescripcionType"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="PuntoVentaType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="numeroPuntoVenta" type="tns:NumeroPuntoVentaSimpleType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="bloqueado" type="tns:SiNoSimpleType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="fechaBaja" type="xsd:date"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ArrayPuntosVentaType">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="puntoVenta" type="tns:PuntoVentaType"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ConsultarCotizacionMonedaResponseType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="cotizacionMoneda" type="xsd:decimal">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="arrayErrores" type="tns:ArrayCodigosDescripcionesType"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="evento" type="tns:CodigoDescripcionType"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ConsultarPuntosVentaCAERequestType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="authRequest" type="tns:AuthRequestType"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="informarCAEANoUtilizadoResponse" type="tns:InformarCAEANoUtilizadoResponseType">
			</xsd:element>

			<xsd:element name="informarCAEANoUtilizadoRequest" type="tns:InformarCAEANoUtilizadoRequestType">
			</xsd:element>
			<xsd:complexType name="InformarCAEANoUtilizadoRequestType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="authRequest" type="tns:AuthRequestType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="CAEA" type="xsd:long"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="InformarCAEANoUtilizadoResponseType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="resultado" type="tns:ResultadoSimpleType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="fechaProceso" type="xsd:date">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="CAEA" type="xsd:long"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="arrayErrores" type="tns:ArrayCodigosDescripcionesType">
					</xsd:element>

					<xsd:element maxOccurs="1" minOccurs="0" name="evento" type="tns:CodigoDescripcionType">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="consultarTiposTributoResponse" type="tns:ConsultarTiposTributoResponseType">
			</xsd:element>
			<xsd:element name="consultarTiposTributoRequest" type="tns:ConsultarTiposTributoRequestType">
			</xsd:element>
			<xsd:complexType name="ConsultarTiposTributoRequestType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="authRequest" type="tns:AuthRequestType">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ConsultarTiposTributoResponseType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="arrayTiposTributo" type="tns:ArrayCodigosDescripcionesType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="evento" type="tns:CodigoDescripcionType">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ArrayCodigosDescripcionesType">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="1" name="codigoDescripcion" type="tns:CodigoDescripcionType">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:simpleType name="NumeroPuntoVentaSimpleType">
				<xsd:restriction base="xsd:short">
					<xsd:minInclusive value="1"/>
					<xsd:maxInclusive value="9999"/>
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:simpleType name="NumeroComprobanteSimpleType">
				<xsd:restriction base="xsd:long">
					<xsd:minInclusive value="1"/>
					<xsd:maxInclusive value="99999999"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="SiNoSimpleType">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="S"/>
					<xsd:enumeration value="N"/>
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:simpleType name="CodigoTipoAutorizacionSimpleType">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="A"/>
					<xsd:enumeration value="E"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="ResultadoSimpleType">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="A"/>
					<xsd:enumeration value="O"/>
					<xsd:enumeration value="R"/>
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:simpleType name="ImporteSubtotalSimpleType">
				<xsd:restriction base="xsd:decimal">
					<xsd:minInclusive value="-9999999999999.99"/>
					<xsd:maxInclusive value="9999999999999.99"/>
					<xsd:totalDigits value="15"/>
					<xsd:fractionDigits value="2"/>
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:simpleType name="ImporteTotalSimpleType">
				<xsd:restriction base="xsd:decimal">
					<xsd:minInclusive value="0"/>
					<xsd:maxInclusive value="9999999999999.99"/>
					<xsd:totalDigits value="15"/>
					<xsd:fractionDigits value="2"/>
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:simpleType name="DecimalSimpleType">
				<xsd:restriction base="xsd:decimal">
					<xsd:minInclusive value="0"/>
					<xsd:maxInclusive value="999999999999.999999"/>
					<xsd:totalDigits value="18"/>
					<xsd:fractionDigits value="6"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:element name="informarCAEANoUtilizadoPtoVtaRequest" type="tns:InformarCAEANoUtilizadoPtoVtaRequestType">
			</xsd:element>
			<xsd:element name="informarCAEANoUtilizadoPtoVtaResponse" type="tns:InformarCAEANoUtilizadoPtoVtaResponseType">
			</xsd:element>
			<xsd:complexType name="InformarCAEANoUtilizadoPtoVtaRequestType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="authRequest" type="tns:AuthRequestType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="CAEA" type="xsd:long"/>
					<xsd:element maxOccurs="1" minOccurs="1" name="numeroPuntoVenta" type="tns:NumeroPuntoVentaSimpleType"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="InformarCAEANoUtilizadoPtoVtaResponseType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="resultado" type="tns:ResultadoSimpleType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="fechaProceso" type="xsd:date">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="CAEA" type="xsd:long">
					</xsd:element>

					<xsd:element maxOccurs="1" minOccurs="1" name="numeroPuntoVenta" type="tns:NumeroPuntoVentaSimpleType"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="arrayErrores" type="tns:ArrayCodigosDescripcionesType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="evento" type="tns:CodigoDescripcionType">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="consultarCAEARequest" type="tns:ConsultarCAEARequestType">
			</xsd:element>
			<xsd:element name="consultarCAEAResponse" type="tns:ConsultarCAEAResponseType">
			</xsd:element>
			<xsd:complexType name="ConsultarCAEARequestType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="authRequest" type="tns:AuthRequestType">
					</xsd:element>

					<xsd:element maxOccurs="1" minOccurs="1" name="CAEA" type="xsd:long"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ConsultarCAEAResponseType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="CAEAResponse" type="tns:CAEAResponseType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="arrayErrores" type="tns:ArrayCodigosDescripcionesType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="evento" type="tns:CodigoDescripcionType"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ArrayCAEAResponseType">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="CAEAResponse" type="tns:CAEAResponseType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="consultarPtosVtaCAEANoInformadosRequest" type="tns:ConsultarPtosVtaCAEANoInformadosRequestType">
			</xsd:element>
			<xsd:element name="consultarPtosVtaCAEANoInformadosResponse" type="tns:ConsultarPtosVtaCAEANoInformadosResponseType">
			</xsd:element>
			<xsd:complexType name="ConsultarPtosVtaCAEANoInformadosRequestType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="authRequest" type="tns:AuthRequestType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="CAEA" type="xsd:long"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ConsultarPtosVtaCAEANoInformadosResponseType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="arrayPuntosVenta" type="tns:ArrayPuntosVentaType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="arrayErrores" type="tns:ArrayCodigosDescripcionesType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="evento" type="tns:CodigoDescripcionType">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="consultarCAEAEntreFechasRequest" type="tns:ConsultarCAEAEntreFechasRequestType">
			</xsd:element>
			<xsd:element name="consultarCAEAEntreFechasResponse" type="tns:ConsultarCAEAEntreFechasResponseType">
			</xsd:element>
			<xsd:complexType name="ConsultarCAEAEntreFechasRequestType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="authRequest" type="tns:AuthRequestType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="fechaDesde" type="xsd:date"/>
					<xsd:element maxOccurs="1" minOccurs="1" name="fechaHasta" type="xsd:date"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ConsultarCAEAEntreFechasResponseType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="arrayCAEAResponse" type="tns:ArrayCAEAResponseType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="arrayErrores" type="tns:ArrayCodigosDescripcionesType">
					</xsd:element>

					<xsd:element maxOccurs="1" minOccurs="0" name="evento" type="tns:CodigoDescripcionType"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="autorizarAjusteIVAResponse" type="tns:AutorizarAjusteIVAResponseType">

			</xsd:element>
			
			<xsd:element name="informarAjusteIVACAEAResponse" type="tns:InformarAjusteIVACAEAResponseType">

			</xsd:element>
			<xsd:element name="autorizarAjusteIVARequest" type="tns:AutorizarAjusteIVARequestType">
			</xsd:element>
			<xsd:element name="informarAjusteIVACAEARequest" type="tns:InformarAjusteIVACAEARequestType">
			</xsd:element>
			
			<xsd:complexType name="AutorizarAjusteIVARequestType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="authRequest" type="tns:AuthRequestType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="comprobanteCAERequest" type="tns:ComprobanteType">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		
			<xsd:complexType name="InformarAjusteIVACAEARequestType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="authRequest" type="tns:AuthRequestType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="comprobanteCAEARequest" type="tns:ComprobanteType">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		
			<xsd:complexType name="AutorizarAjusteIVAResponseType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="resultado" type="tns:ResultadoSimpleType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="comprobanteResponse" type="tns:ComprobanteCAEResponseType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="arrayObservaciones" type="tns:ArrayCodigosDescripcionesType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="arrayErrores" type="tns:ArrayCodigosDescripcionesType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="evento" type="tns:CodigoDescripcionType">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		
			<xsd:complexType name="InformarAjusteIVACAEAResponseType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="resultado" type="tns:ResultadoSimpleType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="fechaProceso" type="xsd:date">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="comprobanteCAEAResponse" type="tns:ComprobanteCAEAResponseType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="arrayObservaciones" type="tns:ArrayCodigosDescripcionesType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="arrayErrores" type="tns:ArrayCodigosDescripcionesType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="evento" type="tns:CodigoDescripcionType">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

		
            <xsd:complexType name="ArrayDatosAdicionalesType">
            	<xsd:sequence>
            		<xsd:element maxOccurs="unbounded" minOccurs="1" name="datoAdicional" type="tns:DatoAdicionalType">
            		</xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
		
            <xsd:complexType name="DatoAdicionalType">
            	<xsd:sequence>
            		<xsd:element maxOccurs="1" minOccurs="1" name="t" type="xsd:short">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="c1" type="xsd:string"/>
            		<xsd:element maxOccurs="1" minOccurs="0" name="c2" type="xsd:string"/>
            		<xsd:element maxOccurs="1" minOccurs="0" name="c3" type="xsd:string"/>
            		<xsd:element maxOccurs="1" minOccurs="0" name="c4" type="xsd:string"/>
            		<xsd:element maxOccurs="1" minOccurs="0" name="c5" type="xsd:string"/>
            		<xsd:element maxOccurs="1" minOccurs="0" name="c6" type="xsd:string"/>
            	</xsd:sequence>
            </xsd:complexType>
            
            <xsd:element name="consultarTiposDatosAdicionalesRequest" type="tns:ConsultarTiposDatosAdicionalesRequestType">
            </xsd:element>
            <xsd:complexType name="ConsultarTiposDatosAdicionalesRequestType">
            	<xsd:sequence>
            		<xsd:element maxOccurs="1" minOccurs="1" name="authRequest" type="tns:AuthRequestType">
            		</xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
            
            <xsd:element name="consultarTiposDatosAdicionalesResponse" type="tns:ConsultarTiposDatosAdicionalesResponseType">
            </xsd:element>
            <xsd:complexType name="ConsultarTiposDatosAdicionalesResponseType">
            	<xsd:sequence>
            		<xsd:element maxOccurs="1" minOccurs="1" name="arrayTiposDatosAdicionales" type="tns:ArrayCodigosDescripcionesType">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="evento" type="tns:CodigoDescripcionType">
            		</xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
		</xsd:schema>
  </wsdl:types>
  <wsdl:message name="informarAjusteIVACAEAResponse">
    <wsdl:part name="parameters" element="tns:informarAjusteIVACAEAResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarCotizacionMonedaRequest">
    <wsdl:part name="parameters" element="tns:consultarCotizacionMonedaRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarComprobanteRequest">
    <wsdl:part name="parameters" element="tns:consultarComprobanteRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarPuntosVentaResponse">
    <wsdl:part name="parameters" element="tns:consultarPuntosVentaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarCotizacionMonedaResponse">
    <wsdl:part name="parameters" element="tns:consultarCotizacionMonedaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarTiposComprobanteResponse">
    <wsdl:part name="parameters" element="tns:consultarTiposComprobanteResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarPtosVtaCAEANoInformadosRequest">
    <wsdl:part name="parameters" element="tns:consultarPtosVtaCAEANoInformadosRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarTiposTributoResponse">
    <wsdl:part name="parameters" element="tns:consultarTiposTributoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="solicitarCAEAResponse">
    <wsdl:part name="parameters" element="tns:solicitarCAEAResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarMonedasRequest">
    <wsdl:part name="parameters" element="tns:consultarMonedasRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="informarComprobanteCAEAResponse">
    <wsdl:part name="parameters" element="tns:informarComprobanteCAEAResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarPuntosVentaCAEResponse">
    <wsdl:part name="parameters" element="tns:consultarPuntosVentaCAEResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="dummyResponse">
    <wsdl:part name="parameters" element="tns:dummyResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="dummyRequest">
  </wsdl:message>
  <wsdl:message name="consultarPuntosVentaRequest">
    <wsdl:part name="parameters" element="tns:consultarPuntosVentaRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarCAEAEntreFechasRequest">
    <wsdl:part name="parameters" element="tns:consultarCAEAEntreFechasRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarTiposComprobanteRequest">
    <wsdl:part name="parameters" element="tns:consultarTiposComprobanteRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarAlicuotasIVARequest">
    <wsdl:part name="parameters" element="tns:consultarAlicuotasIVARequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarCAEAEntreFechasResponse">
    <wsdl:part name="parameters" element="tns:consultarCAEAEntreFechasResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarMonedasResponse">
    <wsdl:part name="parameters" element="tns:consultarMonedasResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="informarCAEANoUtilizadoPtoVtaResponse">
    <wsdl:part name="parameters" element="tns:informarCAEANoUtilizadoPtoVtaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="informarComprobanteCAEARequest">
    <wsdl:part name="parameters" element="tns:informarComprobanteCAEARequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarCAEARequest">
    <wsdl:part name="parameters" element="tns:consultarCAEARequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarAlicuotasIVAResponse">
    <wsdl:part name="parameters" element="tns:consultarAlicuotasIVAResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="informarAjusteIVACAEARequest">
    <wsdl:part name="parameters" element="tns:informarAjusteIVACAEARequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="autorizarComprobanteRequest">
    <wsdl:part name="parameters" element="tns:autorizarComprobanteRequest">
<wsdl:documentation/>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="autorizarAjusteIVAResponse">
    <wsdl:part name="parameters" element="tns:autorizarAjusteIVAResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarCondicionesIVAResponse">
    <wsdl:part name="parameters" element="tns:consultarCondicionesIVAResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarComprobanteResponse">
    <wsdl:part name="parameters" element="tns:consultarComprobanteResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarPtosVtaCAEANoInformadosResponse">
    <wsdl:part name="parameters" element="tns:consultarPtosVtaCAEANoInformadosResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="autorizarComprobanteResponse">
    <wsdl:part name="parameters" element="tns:autorizarComprobanteResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarUltimoComprobanteAutorizadoResponse">
    <wsdl:part name="parameters" element="tns:consultarUltimoComprobanteAutorizadoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarPuntosVentaCAEARequest">
    <wsdl:part name="parameters" element="tns:consultarPuntosVentaCAEARequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="autorizarAjusteIVARequest">
    <wsdl:part name="parameters" element="tns:autorizarAjusteIVARequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarTiposDocumentoRequest">
    <wsdl:part name="parameters" element="tns:consultarTiposDocumentoRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarPuntosVentaCAEAResponse">
    <wsdl:part name="parameters" element="tns:consultarPuntosVentaCAEAResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarTiposDocumentoResponse">
    <wsdl:part name="parameters" element="tns:consultarTiposDocumentoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="informarCAEANoUtilizadoRequest">
    <wsdl:part name="parameters" element="tns:informarCAEANoUtilizadoRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="exception_faultMsg">
    <wsdl:part name="parameters" element="tns:exceptionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarUnidadesMedidaRequest">
    <wsdl:part name="parameters" element="tns:consultarUnidadesMedidaRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="solicitarCAEARequest">
    <wsdl:part name="parameters" element="tns:solicitarCAEARequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarTiposTributoRequest">
    <wsdl:part name="parameters" element="tns:consultarTiposTributoRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarTiposDatosAdicionalesRequest">
    <wsdl:part name="parameters" element="tns:consultarTiposDatosAdicionalesRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="informarCAEANoUtilizadoResponse">
    <wsdl:part name="parameters" element="tns:informarCAEANoUtilizadoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarUnidadesMedidaResponse">
    <wsdl:part name="parameters" element="tns:consultarUnidadesMedidaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarPuntosVentaCAERequest">
    <wsdl:part name="parameters" element="tns:consultarPuntosVentaCAERequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarCondicionesIVARequest">
    <wsdl:part name="parameters" element="tns:consultarCondicionesIVARequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarCAEAResponse">
    <wsdl:part name="parameters" element="tns:consultarCAEAResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarTiposDatosAdicionalesResponse">
    <wsdl:part name="parameters" element="tns:consultarTiposDatosAdicionalesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="informarCAEANoUtilizadoPtoVtaRequest">
    <wsdl:part name="parameters" element="tns:informarCAEANoUtilizadoPtoVtaRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarUltimoComprobanteAutorizadoRequest">
    <wsdl:part name="parameters" element="tns:consultarUltimoComprobanteAutorizadoRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MTXCAServicePortType">
    <wsdl:operation name="dummy">
      <wsdl:input message="tns:dummyRequest">
    </wsdl:input>
      <wsdl:output message="tns:dummyResponse">
    </wsdl:output>
      <wsdl:fault name="exception" message="tns:exception_faultMsg">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="autorizarComprobante">
<wsdl:documentation/>
      <wsdl:input message="tns:autorizarComprobanteRequest">
    </wsdl:input>
      <wsdl:output message="tns:autorizarComprobanteResponse">
    </wsdl:output>
      <wsdl:fault name="exception" message="tns:exception_faultMsg">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="solicitarCAEA">
      <wsdl:input message="tns:solicitarCAEARequest">
    </wsdl:input>
      <wsdl:output message="tns:solicitarCAEAResponse">
    </wsdl:output>
      <wsdl:fault name="exception" message="tns:exception_faultMsg">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="informarComprobanteCAEA">
      <wsdl:input message="tns:informarComprobanteCAEARequest">
    </wsdl:input>
      <wsdl:output message="tns:informarComprobanteCAEAResponse">
    </wsdl:output>
      <wsdl:fault name="exception" message="tns:exception_faultMsg">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultarUltimoComprobanteAutorizado">
      <wsdl:input message="tns:consultarUltimoComprobanteAutorizadoRequest">
    </wsdl:input>
      <wsdl:output message="tns:consultarUltimoComprobanteAutorizadoResponse">
    </wsdl:output>
      <wsdl:fault name="exception" message="tns:exception_faultMsg">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultarComprobante">
      <wsdl:input message="tns:consultarComprobanteRequest">
    </wsdl:input>
      <wsdl:output message="tns:consultarComprobanteResponse">
    </wsdl:output>
      <wsdl:fault name="exception" message="tns:exception_faultMsg">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultarTiposComprobante">
      <wsdl:input message="tns:consultarTiposComprobanteRequest">
    </wsdl:input>
      <wsdl:output message="tns:consultarTiposComprobanteResponse">
    </wsdl:output>
      <wsdl:fault name="exception" message="tns:exception_faultMsg">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultarTiposDocumento">
      <wsdl:input message="tns:consultarTiposDocumentoRequest">
    </wsdl:input>
      <wsdl:output message="tns:consultarTiposDocumentoResponse">
    </wsdl:output>
      <wsdl:fault name="exception" message="tns:exception_faultMsg">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultarAlicuotasIVA">
      <wsdl:input message="tns:consultarAlicuotasIVARequest">
    </wsdl:input>
      <wsdl:output message="tns:consultarAlicuotasIVAResponse">
    </wsdl:output>
      <wsdl:fault name="exception" message="tns:exception_faultMsg">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultarCondicionesIVA">
      <wsdl:input message="tns:consultarCondicionesIVARequest">
    </wsdl:input>
      <wsdl:output message="tns:consultarCondicionesIVAResponse">
    </wsdl:output>
      <wsdl:fault name="exception" message="tns:exception_faultMsg">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultarMonedas">
      <wsdl:input message="tns:consultarMonedasRequest">
    </wsdl:input>
      <wsdl:output message="tns:consultarMonedasResponse">
    </wsdl:output>
      <wsdl:fault name="exception" message="tns:exception_faultMsg">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultarCotizacionMoneda">
      <wsdl:input message="tns:consultarCotizacionMonedaRequest">
    </wsdl:input>
      <wsdl:output message="tns:consultarCotizacionMonedaResponse">
    </wsdl:output>
      <wsdl:fault name="exception" message="tns:exception_faultMsg">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultarUnidadesMedida">
      <wsdl:input message="tns:consultarUnidadesMedidaRequest">
    </wsdl:input>
      <wsdl:output message="tns:consultarUnidadesMedidaResponse">
    </wsdl:output>
      <wsdl:fault name="exception" message="tns:exception_faultMsg">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultarTiposTributo">
      <wsdl:input message="tns:consultarTiposTributoRequest">
    </wsdl:input>
      <wsdl:output message="tns:consultarTiposTributoResponse">
    </wsdl:output>
      <wsdl:fault name="exception" message="tns:exception_faultMsg">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultarPuntosVenta">
      <wsdl:input message="tns:consultarPuntosVentaRequest">
    </wsdl:input>
      <wsdl:output message="tns:consultarPuntosVentaResponse">
    </wsdl:output>
      <wsdl:fault name="exception" message="tns:exception_faultMsg">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultarPuntosVentaCAE">
      <wsdl:input message="tns:consultarPuntosVentaCAERequest">
    </wsdl:input>
      <wsdl:output message="tns:consultarPuntosVentaCAEResponse">
    </wsdl:output>
      <wsdl:fault name="exception" message="tns:exception_faultMsg">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultarPuntosVentaCAEA">
      <wsdl:input message="tns:consultarPuntosVentaCAEARequest">
    </wsdl:input>
      <wsdl:output message="tns:consultarPuntosVentaCAEAResponse">
    </wsdl:output>
      <wsdl:fault name="exception" message="tns:exception_faultMsg">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="informarCAEANoUtilizado">
      <wsdl:input message="tns:informarCAEANoUtilizadoRequest">
    </wsdl:input>
      <wsdl:output message="tns:informarCAEANoUtilizadoResponse">
    </wsdl:output>
      <wsdl:fault name="exception" message="tns:exception_faultMsg">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="informarCAEANoUtilizadoPtoVta">
      <wsdl:input message="tns:informarCAEANoUtilizadoPtoVtaRequest">
    </wsdl:input>
      <wsdl:output message="tns:informarCAEANoUtilizadoPtoVtaResponse">
    </wsdl:output>
      <wsdl:fault name="exception" message="tns:exception_faultMsg">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultarPtosVtaCAEANoInformados">
      <wsdl:input message="tns:consultarPtosVtaCAEANoInformadosRequest">
    </wsdl:input>
      <wsdl:output message="tns:consultarPtosVtaCAEANoInformadosResponse">
    </wsdl:output>
      <wsdl:fault name="exception" message="tns:exception_faultMsg">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultarCAEA">
      <wsdl:input message="tns:consultarCAEARequest">
    </wsdl:input>
      <wsdl:output message="tns:consultarCAEAResponse">
    </wsdl:output>
      <wsdl:fault name="exception" message="tns:exception_faultMsg">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultarCAEAEntreFechas">
      <wsdl:input message="tns:consultarCAEAEntreFechasRequest">
    </wsdl:input>
      <wsdl:output message="tns:consultarCAEAEntreFechasResponse">
    </wsdl:output>
      <wsdl:fault name="exception" message="tns:exception_faultMsg">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="autorizarAjusteIVA">
      <wsdl:input message="tns:autorizarAjusteIVARequest">
    </wsdl:input>
      <wsdl:output message="tns:autorizarAjusteIVAResponse">
    </wsdl:output>
      <wsdl:fault name="exception" message="tns:exception_faultMsg">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="informarAjusteIVACAEA">
      <wsdl:input message="tns:informarAjusteIVACAEARequest">
    </wsdl:input>
      <wsdl:output message="tns:informarAjusteIVACAEAResponse">
    </wsdl:output>
      <wsdl:fault name="exception" message="tns:exception_faultMsg">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultarTiposDatosAdicionales">
      <wsdl:input message="tns:consultarTiposDatosAdicionalesRequest">
    </wsdl:input>
      <wsdl:output message="tns:consultarTiposDatosAdicionalesResponse">
    </wsdl:output>
      <wsdl:fault name="exception" message="tns:exception_faultMsg">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MTXCAServiceSoap11Binding" type="tns:MTXCAServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="dummy">
      <soap:operation soapAction="http://impl.service.wsmtxca.afip.gov.ar/service/dummy"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="exception">
        <soap:fault name="exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="autorizarComprobante">
      <soap:operation soapAction="http://impl.service.wsmtxca.afip.gov.ar/service/autorizarComprobante"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="exception">
        <soap:fault name="exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="solicitarCAEA">
      <soap:operation soapAction="http://impl.service.wsmtxca.afip.gov.ar/service/solicitarCAEA"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="exception">
        <soap:fault name="exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="informarComprobanteCAEA">
      <soap:operation soapAction="http://impl.service.wsmtxca.afip.gov.ar/service/informarComprobanteCAEA"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="exception">
        <soap:fault name="exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultarUltimoComprobanteAutorizado">
      <soap:operation soapAction="http://impl.service.wsmtxca.afip.gov.ar/service/consultarUltimoComprobanteAutorizado"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="exception">
        <soap:fault name="exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultarComprobante">
      <soap:operation soapAction="http://impl.service.wsmtxca.afip.gov.ar/service/consultarComprobante"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="exception">
        <soap:fault name="exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultarTiposComprobante">
      <soap:operation soapAction="http://impl.service.wsmtxca.afip.gov.ar/service/consultarTiposComprobante"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="exception">
        <soap:fault name="exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultarTiposDocumento">
      <soap:operation soapAction="http://impl.service.wsmtxca.afip.gov.ar/service/consultarTiposDocumento"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="exception">
        <soap:fault name="exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultarAlicuotasIVA">
      <soap:operation soapAction="http://impl.service.wsmtxca.afip.gov.ar/service/consultarAlicuotasIVA"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="exception">
        <soap:fault name="exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultarCondicionesIVA">
      <soap:operation soapAction="http://impl.service.wsmtxca.afip.gov.ar/service/consultarCondicionesIVA"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="exception">
        <soap:fault name="exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultarMonedas">
      <soap:operation soapAction="http://impl.service.wsmtxca.afip.gov.ar/service/consultarMonedas"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="exception">
        <soap:fault name="exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultarCotizacionMoneda">
      <soap:operation soapAction="http://impl.service.wsmtxca.afip.gov.ar/service/consultarCotizacionMoneda"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="exception">
        <soap:fault name="exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultarUnidadesMedida">
      <soap:operation soapAction="http://impl.service.wsmtxca.afip.gov.ar/service/consultarUnidadesMedida"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="exception">
        <soap:fault name="exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultarPuntosVenta">
      <soap:operation soapAction="http://impl.service.wsmtxca.afip.gov.ar/service/consultarPuntosVenta"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="exception">
        <soap:fault name="exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultarPuntosVentaCAE">
      <soap:operation soapAction="http://impl.service.wsmtxca.afip.gov.ar/service/consultarPuntosVentaCAE"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="exception">
        <soap:fault name="exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultarPuntosVentaCAEA">
      <soap:operation soapAction="http://impl.service.wsmtxca.afip.gov.ar/service/consultarPuntosVentaCAEA"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="exception">
        <soap:fault name="exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="informarCAEANoUtilizado">
      <soap:operation soapAction="http://impl.service.wsmtxca.afip.gov.ar/service/informarCAEANoUtilizado"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="exception">
        <soap:fault name="exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultarTiposTributo">
      <soap:operation soapAction="http://impl.service.wsmtxca.afip.gov.ar/service/consultarTiposTributo"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="exception">
        <soap:fault name="exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="informarCAEANoUtilizadoPtoVta">
      <soap:operation soapAction="http://impl.service.wsmtxca.afip.gov.ar/service/informarCAEANoUtilizadoPtoVta"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="exception">
        <soap:fault name="exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultarCAEA">
      <soap:operation soapAction="http://impl.service.wsmtxca.afip.gov.ar/service/consultarCAEA"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="exception">
        <soap:fault name="exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultarPtosVtaCAEANoInformados">
      <soap:operation soapAction="http://impl.service.wsmtxca.afip.gov.ar/service/consultarPtosVtaCAEANoInformados"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="exception">
        <soap:fault name="exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultarCAEAEntreFechas">
      <soap:operation soapAction="http://impl.service.wsmtxca.afip.gov.ar/service/consultarCAEAEntreFechas"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="exception">
        <soap:fault name="exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="autorizarAjusteIVA">
      <soap:operation soapAction="http://impl.service.wsmtxca.afip.gov.ar/service/autorizarAjusteIVA"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="exception">
        <soap:fault name="exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="informarAjusteIVACAEA">
      <soap:operation soapAction="http://impl.service.wsmtxca.afip.gov.ar/service/informarAjusteIVACAEA"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="exception">
        <soap:fault name="exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultarTiposDatosAdicionales">
      <soap:operation soapAction="http://impl.service.wsmtxca.afip.gov.ar/service/consultarTiposDatosAdicionales"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="exception">
        <soap:fault name="exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MTXCAService">
    <wsdl:port name="MTXCAServiceHttpSoap11Endpoint" binding="tns:MTXCAServiceSoap11Binding">
      <soap:address location="https://fwshomo.afip.gov.ar/wsmtxca/services/MTXCAService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
